{% extends "base.html" %}

{% block extra_jquery %}
    $("#completed").addClass("active");
{% endblock %}

{% block main %}
<div id="complete-page" class="default-margins">
    <header>
        <h1>Completed</h1>
        <p>These are the races you have completed. Well done! Here you can look back at your races and see how you did. If you chose to set a target time you can now enter the actual time you did it in, add a link to the race results and to any race photos.</p>
    </header>
{% if races %}
    {% regroup races by race.race_date|date:"Y" as races_by_year %}
    {% for race_year in races_by_year %}
        <h1>{{ race_year.grouper }}</h1>
        <table>
        {% regroup race_year.list by race.race_date|date:"F" as races_by_month %}
        {% for race_month in races_by_month %}
            <tr class="table-header-month">
                <td colspan="2">{{ race_month.grouper }}</td>
            </tr>
            {% for race in race_month.list %}
                <tr>
                    <td class="table-cell-date">{{ race.race.race_date|date:"l jS" }}</td>
                    <td><a href="{{ race.get_absolute_url }}">{{ race.race.race_name }}</a></td>
                </tr>
            {% endfor %}
        {% endfor %}
        </table>
    {% endfor %}
{% else %}
    <p>You have not completed any races yet.</p>
{% endif %}
</div>
{% endblock %}