{% extends "base.html" %}

{% block extra_jquery %}
    $("#completed").addClass("active");
{% endblock %}

{% block main %}
<div id="completed-race-page" class="default-margins">
    <h1>{{ race.race.race_name }}</h1>
    <p>The race distance was {{ race.race.race_distance }}</p>
    {% if race.race_results_external %}
    <p><a href="{{ race.race_results_external }}">Race results</a></p>
    {% endif %}
    {% if race.race_photos_external %}
    <p><a href="{{ race.race_photos_external }}">Race photos</a></p>
    {% endif %}
    {% if not race.just_for_fun %}
        <p>Your target time was: {{ race.target_hours|default_if_none:"0" }} hours {{ race.target_minutes|default_if_none:"0" }} minutes {{ race.target_seconds|default_if_none:"0" }} seconds<br/>You finished in: {{ race.achieved_hours|default_if_none:"0" }} hours {{ race.achieved_minutes|default_if_none:"0" }} minutes {{ race.achieved_seconds|default_if_none:"0" }} seconds</p>
        <div class="forms">
            <form action="{% url 'results_form' %}" method="post">{% csrf_token %}
                <div id="times">
                    <h3>Enter time achieved</h3>
                    <div class="time-input">
                        <label for="id_achieved_hours">Hrs</label>
                        {{ results_form.achieved_hours }}
                    </div>
                    <div class="time-input">
                        <label for="id_achieved_minutes">Mins</label>
                        {{ results_form.achieved_minutes }}
                    </div>
                    <div class="time-input">
                        <label for="id_achieved_seconds">Secs</label>
                        {{ results_form.achieved_seconds }}
                    </div>
                </div>
                <div id="links">
                    <h3>Links</h3>
                    <div class="link-input">
                        <label for="id_race_results_external">Race results</label>
                        {{ results_form.race_results_external }}
                    </div>
                    <div class="link-input">
                        <label for="id_race_photos_external">Race photos</label>
                        {{ results_form.race_photos_external }}
                    </div>
                </div>
                <input type="hidden" name="race_id" value="{{ race.id }}" />
                <button type="submit">Save</button>
            </form>
        </div>
    {% endif %}
</div>
{% endblock %}