{% extends "base.html" %}

{% block extra_jquery %}
    $("#completed").addClass("active");

    $('#toggle-extra-detail').click(function() {
        $('.detail-inactive, .detail-active').toggle();
        $('#extra-detail').toggle();
    });
{% endblock %}

{% block main %}
<div id="completed-race-page" class="default-margins">
    <a href="{% url 'completed' %}"><i class="fa fa-chevron-left" aria-hidden="true"></i>&nbsp;Back to completed races</a>
    <h1>{{ race.race.race_name }}</h1>
    <p>{{ race.race.race_date|date:"l jS F" }} at {{ race.race.race_time|date:"P" }}</p>
    <p>The race distance was {{ race.race.race_distance }}</p>
    {% if race.race_results_external %}
    <p><a href="{{ race.race_results_external }}">Race results</a></p>
    {% endif %}
    {% if race.race_photos_external %}
    <p><a href="{{ race.race_photos_external }}">Race photos</a></p>
    {% endif %}
    {% if not race.just_for_fun %}
    <p>Your target time was: {{ race.target_hours|default_if_none:"0" }} hours {{ race.target_minutes|default_if_none:"0" }} minutes {{ race.target_seconds|default_if_none:"0" }} seconds</p>
    {% endif %}
    {% if race.achieved_hours > 0 or race.achieved_minutes > 0 or race.achieved_seconds > 0 %}
    <p>You finished in: {{ race.achieved_hours|default_if_none:"0" }} hours {{ race.achieved_minutes|default_if_none:"0" }} minutes {{ race.achieved_seconds|default_if_none:"0" }} seconds</p>
    {% endif %}
    <p>
    <h3>Friends who also ran</h3>
    {% for friend in friends_who_completed_race %}
        {% if friend.friend_profile.first_name %}{{friend.friend_profile.first_name}}&nbsp;{{friend.friend_profile.last_name}}{% else %}{{ friend.friend_profile.user.username }}{% endif %}{% if not forloop.last %}&#44;{% endif %}
    {% empty %}
        None of your friends ran this race.
    {% endfor %}
    </p>
    <div id="toggle-extra-detail">
        <i class="fa fa-toggle-on fa-2x detail-active" id="on" style="display:none;"></i>
        <i class="fa fa-toggle-on fa-2x fa-rotate-180 detail-inactive" id="off" ></i>
        <span id="show-hide-label">Show/hide extra details</span>
    </div>
    <div id="extra-detail">
        <form action="{% url 'results_form' %}" method="post">{% csrf_token %}
            <div id="times">
                <h3>Enter time achieved</h3>
                <div class="time-input">
                    <label for="id_achieved_hours">Hours</label>
                    {{ results_form.achieved_hours }}
                </div>
                <div class="time-input">
                    <label for="id_achieved_minutes">Minutes</label>
                    {{ results_form.achieved_minutes }}
                </div>
                <div class="time-input">
                    <label for="id_achieved_seconds">Seconds</label>
                    {{ results_form.achieved_seconds }}
                </div>
            </div>
            <div id="links">
                <h3>Links</h3>
                <div class="link-input">
                    <label for="id_race_results_external">Race results</label>
                    {{ results_form.race_results_external }}
                </div>
                <div class="link-input">
                    <label for="id_race_photos_external">Race photos</label>
                    {{ results_form.race_photos_external }}
                </div>
            </div>
            <input type="hidden" name="race_id" value="{{ race.id }}" />
            <button type="submit">Save</button>
        </form>
    </div>
</div>
{% endblock %}