{% extends "base.html" %}

{% block extra_jquery %}
$("#friends").addClass("active");
{% endblock %}

{% block main %}
<div id="friends-page" class="default-margins">
    <header>
        <h1>Friends</h1>
        <p>Search here for people to join races with. See what races they are interested or are going to. See how they are getting on by seeing which races they have already completed.</p>
    </header>
    <div id="find-friends-container">
        <form action="{% url 'add_friend' %}" method="post">{% csrf_token %}
            <input type="text" name="email" id="email" placeholder="email" />
            <button type="submit">Add friend</button>
        </form>
        {% if messages %}
        <p>
        {% for message in messages %}
            {{ message }}<br/>
        {% endfor %}
        </p>
        {% endif %}
    </div>
{% if friends %}
    <div id="friends-container">
    {% for friend in friends %}
        <div>
            <a href="{{ friend.get_absolute_url }}">{% if friend.friend_profile.first_name %}{{friend.friend_profile.first_name}}&nbsp;{{friend.friend_profile.last_name}}{% else %}{{ friend.friend_profile.user.username }}{% endif %}</a>
        </div>
    {% endfor %}
    </div>
{% else %}
    <p>You haven't added anyone yet. Search for other like-minded souls to join races with.</p>
{% endif %}
</div>
{% endblock %}

