{% extends "base.html" %}

{% block extra_jquery %}
    $("#going").addClass("active");

    $('[id^="id_just_for_fun"]').on('change',function(){
        var id = $(this).attr('id').split('_')[4];
        $('#form_'+id).submit();
    });
{% endblock %}

{% block main %}
<div id="going-page">
    <header>
        <h1>Going</h1>
        <p>These are the races you are going to. Here you can check the details of the race, choose to set a target time for your race or just mark it as race you are just doing for fun. If you decide you no longer want to go to this race you can always remove it. Once you have completed the race you can mark it as completed and add how it went.</p>
    </header>
{% if race_tuples %}

{% regroup race_tuples by 0.race.race_date|date:"Y" as races_by_year %}
{% for race_year in races_by_year %}
    <h1>{{ race_year.grouper }}</h1>
    {% regroup race_year.list by 0.race.race_date|date:"F" as races_by_month %}
    {% for race_month in races_by_month %}
        <h2>{{ race_month.grouper }}</h2>
        {% for race in race_month.list %}
            <div class="going-race">
                {% with race_details=race.0.race %}
                <div class="going-race-details">
                    <div class="going-date">
                        {{ race_details.race_date|date:"l jS F" }} at {{ race_details.race_time|date:"P" }}
                    </div>
                    <table>
                        <tr>
                            <td>{{ race_details.race_name }}</td>
                        </tr>
                        <tr>
                            <td>{{ race_details.race_location }}</td>
                        </tr>
                        <tr>
                            <td>{{ race_details.race_distance }}</td>
                        </tr>
                        <tr>
                            <td><a href="{{ race_details.race_site_link}}">Visit site</a></td>
                        </tr>
                        <tr>
                            <td class="buttons">
                                <form action="{% url 'completed' %}" method="post">{% csrf_token %}
                                    <button type="submit" name="race_id" value="{{ race_details.id }}">COMPLETED</button>
                                </form>
                                <form action="{% url 'no_longer_going' %}" method="post">{% csrf_token %}
                                    <button type="submit" name="race_id" value="{{ race_details.id }}"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>
                {% endwith %}
                {% with race.1 as form %}
                <div class="going-race-targets">
                    <form action="{% url 'set_target_time' %}" method="post" id="form_{{ race.0.id }}">{% csrf_token %}
                        <div class="checkbox">
                            {{ form.just_for_fun }}
                            <label for="id_just_for_fun_{{ race.0.id }}">Running for fun (no target time)</label>
                        </div>
                        <div id="targets_{{ race.0.id }}" {% if form.just_for_fun.value %}style="display: none;"{% endif %}>
                            <div class="target-input">
                                <label for="id_target_hours">Hrs</label>
                                {{ form.target_hours }}
                            </div>
                            <div class="target-input">
                                <label for="id_target_minutes">Mins</label>
                                {{ form.target_minutes }}
                            </div>
                            <div class="target-input">
                                <label for="id_target_seconds">Secs</label>
                                {{ form.target_seconds }}
                            </div>
                            <input type="hidden" name="race_id" value="{{ race.0.id }}" />
                            <button type="submit">Set</button>
                        </div>
                        <div class="target-time" id="target_time_{{ race.0.id }}" {% if form.just_for_fun.value %}style="display: none;"{% endif %}>
                            Your target: {{ race.0.target_hours|default_if_none:"0" }}h {{ race.0.target_minutes|default_if_none:"0" }}m {{ race.0.target_seconds|default_if_none:"0" }}s
                        </div>
                    </form>
                </div>
                {% endwith %}
            </div>
        {% endfor %}
    {% endfor %}
{% endfor %}

{% else %}
    <p>You haven't picked any races that you are going to yet. Mark yourself as going to a race to see it here.</p>
{% endif %}
</div>
{% endblock %}