{% extends "base.html" %}

{% block extra_jquery %}
    $("#going").addClass("active");
{% endblock %}

{% block main %}
<div id="going-page">
{% if races %}

{% regroup races by race.race_date|date:"Y" as races_by_year %}
{% for race_year in races_by_year %}
    <h1>{{ race_year.grouper }}</h1>
    {% regroup race_year.list by race.race_date|date:"F" as races_by_month %}
    {% for race_month in races_by_month %}
        <h2>{{ race_month.grouper }}</h2>
        {% for race in race_month.list %}
            <div class="going-race">
                <div class="going-date">
                    {{ race.race.race_date|date:"l jS F" }} at {{ race.race.race_time|date:"P" }}
                </div>
                <table>
                    <tr>
                        <td>{{ race.race.race_name }}</td>
                    </tr>
                    <tr>
                        <td>{{ race.race.race_location }}</td>
                    </tr>
                    <tr>
                        <td>{{ race.race.race_distance }}</td>
                    </tr>
                    <tr>
                        <td><a href="{{ race.race.race_site_link}}">Visit site</a></td>
                    </tr>
                    <tr>
                        <td class="buttons">
                            <form action="{% url 'completed' %}" method="post">{% csrf_token %}
                                <button type="submit" name="race_id" value="{{ race.race.id }}">COMPLETED</button>
                            </form>
                            <form action="{% url 'no_longer_going' %}" method="post">{% csrf_token %}
                                <button type="submit" name="race_id" value="{{ race.race.id }}"><i class="fa fa-trash" aria-hidden="true"></i></button>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        {% endfor %}
    {% endfor %}
{% endfor %}

{% else %}
    <p>You haven't picked any races that you are going to yet. Mark yourself as going to a race to see it here.</p>
{% endif %}
</div>
{% endblock %}