{% extends "base.html" %}

{% block main %}
<div id="user-settings" class="default-margins">
    <header>
        <h1>User settings</h1>
    </header>
    <form action="{% url 'user_settings' %}" method="post">{% csrf_token %}
        <div class="form-checkbox">
            {{ form.just_username }}
            <label for="id_just_username"></label>
            <span>Only show username (not name) to others</span>
        </div>
        <div class="form-checkbox">
            {{ form.use_default_distance }}
            <label for="id_use_default_distance"></label>
            <span>Set default race distance to favourite distance</span>
        </div>
        <button type="submit">Save</button>
    </form>
    {% if messages %}
        <p>
        {% for message in messages %}
            {{ message }}<br/>
        {% endfor %}
        </p>
    {% endif %}
</div>
{% endblock %}