{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://use.fontawesome.com/73fb701cc7.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static '/racewithme/style.css' %}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
    <body id="login-page">
        <div class="container mt-5">
            <div class="row align-items-center">
                <div class="col-sm-6 rounded p-5" id="text">
                    <h1>RACEWITHME</h1>
                    <p>Find races and mark yourself as Interested or Going. Give yourself a target or just enter for fun. Once you have completed the race, record how you did and save links to results and photos. Of course you want to do all this with friends right? By adding friends you can see which races they are interested in or going to and how they did.</p>
                    <p>So what are you waiting for?</p>
                </div>
                <div class="col-sm-6 rounded p-5" id="form">
                    <div class="row">
                        <div class="col-12">
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                {% for field in form %}
                                <div class="input-group mt-3 mb-3">
                                    <label class="sr-only" for="id_{{ field.name }}">{{ field.label }}</label>
                                    {% ifequal field.name 'username' %}
                                    <span class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">
                                            <i class="fa fa-user-o fa-fw" aria-hidden="true"></i>
                                        </span>
                                    </span>
                                    <input type="text" class="form-control" name="username" id="id_username" placeholder="Username" autocapitalize="none">
                                    {% else %}
                                    <span class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">
                                            <i class="fa fa-key fa-fw" aria-hidden="true"></i>
                                        </span>
                                    </span>
                                    <input type="password" class="form-control" name="password" id="id_password" placeholder="{{field.label}}">
                                    {% endifequal %}
                                </div>
                                {% if field.errors %}
                                    {% for error in field.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                            <span class="sr-only">Error:</span>
                                            {{ error|escape }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                {% endfor %}
                                {% if form.non_field_errors %}
                                    <div class="alert alert-danger" role="alert">
                                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                        <span class="sr-only">Error:</span>
                                            {{ form.non_field_errors }}
                                    </div>               
                                {% endif %}
                                <button type="submit" class="btn btn-default btn-block mt-3 submit-button">Login</button>
                            </div>
                        </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <ul class="nav justify-content-center">
                                <li class="nav-item">
                                    <a href="{% url 'signup' %}">Create an account</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <ul class="nav justify-content-center">
                                <li class="nav-item">
                                    <a href="{% url 'password_reset' %}">Forgotten your password?</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>