{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Race With Me{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static '/racewithme/style.css' %}" />
        <script src="https://use.fontawesome.com/73fb701cc7.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script>
        $(document).ready(function(){
            $('#user-dropdown-button').hover(function() {
                $('#user-dropdown-content').css("display", "block");
            });
            $('#user-dropdown-content').hover(null, function() {
                $('#user-dropdown-content').css("display", "none");
            });
            $('#user-dropdown a').click(function() {
                $('#user-dropdown-content').css("display", "none");
            });
            {% block extra_jquery %}{% endblock %}
        });
        </script>
    </head>
    <body>
        <header>
            {% block header %}
            <div class="main-header">
                <h1><a href="{% url 'home' %}">RACE WITH ME</a></h1>
            </div>
            {% endblock %}
        </header>
        <nav>
            {% block nav %}
            <div class="main-nav">
                {% if user.is_authenticated %}
                <div class="main-nav">
                    <div id="menu">
                        <span class="menu-option"><a href="{% url 'races' %}">Races</a></span>
                        <span class="menu-option"><a href="">Interested</a></span>
                        <span class="menu-option"><a href="">Going</a></span>
                        <span class="menu-option"><a href="">Completed</a></span>
                        <span class="menu-option"><a href="">Friends</a></span>
                    </div>
                    <div id="user-dropdown">
                        <button id="user-dropdown-button">{{ user.username }}&nbsp;<i class="fa fa-caret-down" aria-hidden="true"></i></button>
                        <div id="user-dropdown-content">
                            <a href="{% url 'user_profile' %}">Profile</a>
                            <a href="">Settings</a>
                            <a href={% url 'logout' %}>Log out</a>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            {% endblock %}
        </nav>
        <main>
            <div class="main-content">
                {% block main %}{% endblock %}
            </div>
        </main>
        <footer>
            <div class="main-footer">
                {% block footer %}{% endblock %}
            </div>
        </footer>
    </body>
</html>