{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Race With Me{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static '/racewithme/style.css' %}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script>
        $(document).ready(function(){
            $('#user-dropdown-button').hover(function() {
                $('#user-dropdown-content').css("display", "block");
            });
            $('#user-dropdown-content').hover(null, function() {
                $('#user-dropdown-content').css("display", "none");
            });
            $('#user-dropdown a').click(function() {
                $('#user-dropdown-content').css("display", "none");
            });
        });
        </script>
    </head>
    <body>
        <header>
            {% block header %}
            <div class="main-header">
                <h1>RACE WITH ME</h1>
            </div>
            {% endblock %}
        </header>
        <nav>
            <div class="main-nav">
                {% block nav %}{% endblock %}
            </div>
        </nav>
        <main>
            <div class="main-content">
                {% block main %}{% endblock %}
            </div>
        </main>
        <footer>
            {% block footer %}<div class="main-footer"></div>{% endblock %}
        </footer>
    </body>
</html>