{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Race With Me{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static '/racewithme/style.css' %}" />
        <script src="https://use.fontawesome.com/73fb701cc7.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script>
        $(document).ready(function(){
            $('#user-dropdown-button').hover(function() {
                $('#user-dropdown-content').css("display", "block");
            });
            $('#user-dropdown-content').hover(null, function() {
                $('#user-dropdown-content').css("display", "none");
            });
            $('#user-dropdown a').click(function() {
                $('#user-dropdown-content').css("display", "none");
            });

            $('.dropbtn').click(function() {
                $('.menu-dropdown-content').toggle();
            });
            {% block extra_jquery %}{% endblock %}
        });
        </script>
    </head>
    <body>
        <header>
            {% block header %}
            <div class="main-header">
                <h1><a href="{% url 'home' %}">RACE WITH ME</a></h1>
            </div>
            {% endblock %}
        </header>
        <nav>
            {% block nav %}
            <div class="main-nav">
                {% if user.is_authenticated %}
                <div class="main-nav">
                    <div id="menu">
                        <span class="menu-option"><a id="races" href="{% url 'races' %}">Races</a></span>
                        <span class="menu-option"><a id="interested" href="{% url 'interested' %}">Interested</a></span>
                        <span class="menu-option"><a id="going" href="{% url 'going' %}">Going</a></span>
                        <span class="menu-option"><a id="completed" href="{% url 'completed' %}">Completed</a></span>
                        <span class="menu-option"><a id="friends" href="{% url 'friends' %}">Friends</a></span>
                    </div>
                    <div id="menu-dropdown">
                        <button class="dropbtn"><img src="{% static '/racewithme/images/menu.png' %}" /></button>
                        <div class="menu-dropdown-content">
                            <a id="races" href="{% url 'races' %}">Races</a>
                            <a id="interested" href="{% url 'interested' %}">Interested</a>
                            <a id="going" href="{% url 'going' %}">Going</a>
                            <a id="completed" href="{% url 'completed' %}">Completed</a>
                            <a id="friends" href="{% url 'friends' %}">Friends</a>
                        </div>
                    </div>
                    <div id="user-dropdown">
                        <button id="user-dropdown-button">{{ user.username }}&nbsp;<i class="fa fa-caret-down" aria-hidden="true"></i></button>
                        <div id="user-dropdown-content">
                            <a href="{% url 'user_profile' %}">Profile</a>
                            <a href="">Settings</a>
                            <a href={% url 'logout' %}>Log out</a>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            {% endblock %}
        </nav>
        <main>
            <div class="main-content">
                {% block main %}{% endblock %}
            </div>
        </main>
        <footer>
            <div class="main-footer">
                {% block footer %}{% endblock %}
            </div>
        </footer>
    </body>
</html>