$font-stack: Helvetica, Times, serif;
$theme-colour1: #338a44;
$theme-colour2: #3ea853;

body {
    font-family: $font-stack;
    font-size: 62.5%;
    margin: 0 auto;
}

main {
    margin: 80px 40px 80px 60px;
    font-size: 1.4em;
}

h2 {
    font-size: 2em;
}

.main-header {
    height: 140px;
    background-color: $theme-colour1;
    width: 100%;
    display: table;

    h1 {
        display: table-cell; 
        vertical-align: middle;
        text-align: center;
        margin: 0; /* as h1 has margin */
        font-size: 3em;

        a {
            text-decoration: none;
            color: white;
        }
    }
}

.main-nav {
    height: 40px;
    background-color: $theme-colour2;
    content: '';
}

form {
    .helptext {
        display: block;
        padding-top: 10px;
        color: red;
    }

    ul li {
        color: red;
    }

    input[type="text"], input[type="password"], input[type="email"] {
        outline: none;
        padding: 10px;
        border: solid 1px #c9c9c9;
        border-radius: 4px;
        width: 200px;
        transition: border 0.3s;

        &:focus, &.focus {
            border: solid 1px $theme-colour1;
        }
    }

    button {
        width: 306px;
        font-size: 1.2em;
        padding: 10px;
        background-color: $theme-colour1;
        border-radius: 4px;
        color: white;
        border: none;
        &:hover {
            cursor: pointer;
            background-color: $theme-colour2;
        }
    }

    label[for="id_username"], label[for="id_email"], 
    label[for="id_password"], label[for="id_password1"] {
        display: inline-block;
        width: 80px;
    }
    label[for="id_password2"] {
        display: inline-block;
        width: 160px;
    }
}

.main-nav {
    padding-left: 10px;

    #menu {
        line-height: 36px;
        .menu-option {
            padding: 5px 20px 5px 10px;

            a {
                cursor: pointer;
                font-size: 2em;
                text-decoration: none;
                color: white;
                &:hover {
                    color: black;
                }
            }
        }
        display: inline-block;
    }

    #user-dropdown {
        float: right;
        line-height: 34px;
        display: inline-block;

        button {
            border: none;
            color: white;
            background-color: $theme-colour2;
            font-size: 2em;
            padding: 6px 12px 6px 28px;
        }
        button:hover {
            cursor: pointer;
        }

        #user-dropdown-content {
            border-left: 1px solid #696969;
            border-bottom: 1px solid #696969;
            display: none;
            position: absolute;
            top: 180px;
            right: 0px;
            background-color: #ededed;
            width: 120px;
            z-index: 1;

            a {
                cursor: pointer;
                color: black;
                padding: 0px 20px;
                font-size: 2em;
                text-decoration: none;
                display: block;

                &:hover {
                    background-color: $theme-colour2;
                }
            }
        }
    }
}

.main-content {
    a {
        text-decoration: none;
        color: $theme-colour1;
        &:hover {
            color: $theme-colour2;
        }
    }
}

#login-page {
    text-align: center;
}
#signup-page {

}
