$font-stack: Helvetica, Times, serif;
$theme-colour1: #338a44;
$theme-colour2: #3ea853;

body {
    font-family: $font-stack;
    font-size: 62.5%;
    margin: 0 auto;
}

main {
    margin: 80px 20px 80px 20px;
    font-size: 1.4em;
}

h2 {
    font-size: 2em;
}

.main-header {
    height: 140px;
    background-color: $theme-colour1;
    width: 100%;
    display: table;

    h1 {
        display: table-cell; 
        vertical-align: middle;
        text-align: center;
        margin: 0; /* as h1 has margin */
        font-size: 3em;

        a {
            text-decoration: none;
            color: white;
        }
    }
}

.main-nav {
    padding-left: 10px;
    height: 40px;
    background-color: $theme-colour2;
    content: '';

    #menu {
        line-height: 36px;
        .menu-option {
            padding: 5px 20px 5px 10px;

            a {
                cursor: pointer;
                font-size: 2em;
                text-decoration: none;
                color: white;
                &:hover {
                    color: black;
                }
                &.active {
                    color:black;
                }
            }
        }
        display: inline-block;
    }

    #user-dropdown {
        float: right;
        line-height: 34px;
        display: inline-block;

        button {
            border: none;
            color: white;
            background-color: $theme-colour2;
            font-size: 2em;
            padding: 6px 12px 6px 28px;
        }
        button:hover {
            cursor: pointer;
        }

        #user-dropdown-content {
            border-left: 1px solid #696969;
            border-bottom: 1px solid #696969;
            display: none;
            position: absolute;
            top: 180px;
            right: 0px;
            background-color: #ededed;
            width: 120px;
            z-index: 1;

            a {
                cursor: pointer;
                color: black;
                padding: 0px 20px;
                font-size: 2em;
                text-decoration: none;
                display: block;

                &:hover {
                    background-color: $theme-colour2;
                }
            }
        }
    }
}

.main-content {
    a {
        text-decoration: none;
        color: $theme-colour1;
        &:hover {
            color: $theme-colour2;
        }
    }
}

/******************************************************

PAGES

*/

#login-page {
    text-align: center;
    width: 266px; 
    margin: auto;

    input[type="text"], input[type="password"] {
        outline: none;
        padding: 10px;
        border: solid 1px #c9c9c9;
        border-radius: 4px;
        width: 170px;
        transition: border 0.3s;

        &:focus, &.focus {
            border: solid 1px $theme-colour1;
        }
    }    

    button {
        width: 100%;
        font-size: 1.2em;
        padding: 10px;
        background-color: $theme-colour1;
        border-radius: 4px;
        color: white;
        border: none;
        &:hover {
            cursor: pointer;
            background-color: $theme-colour2;
        }
    }

    label[for="id_username"], label[for="id_password"] {
        display: inline-block;
        width: 68px;
    }
}

#signup-page {
    .helptext {
        display: block;
        padding-top: 10px;
        color: red;
    }

    ul li {
        color: red;
    }

    input[type="text"], input[type="password"], input[type="email"] {
        outline: none;
        padding: 10px;
        border: solid 1px #c9c9c9;
        border-radius: 4px;
        width: 200px;
        transition: border 0.3s;

        &:focus, &.focus {
            border: solid 1px $theme-colour1;
        }
    }

    button {
        width: 100%;
        font-size: 1.2em;
        padding: 10px;
        background-color: $theme-colour1;
        border-radius: 4px;
        color: white;
        border: none;
        &:hover {
            cursor: pointer;
            background-color: $theme-colour2;
        }
    }

    label[for="id_username"], label[for="id_email"], 
    label[for="id_password"], label[for="id_password1"] {
        display: inline-block;
        width: 80px;
    }
    label[for="id_password2"] {
        display: inline-block;
        width: 160px;
    }
}

#races-page, #interested-page {
    margin-left: 40px;
    margin-right: 40px;

    table {
        width: 100%;
        border-collapse: collapse;
        font-size: 1.2em;

        td, th {
            text-align: left;
            padding: 8px;
        }
        .table-row {
            border-bottom: 1px solid #d3d3d3;
            &:hover {
                cursor: pointer;
                background-color: #ededed;
            }
        }
        #table-header {
            border-bottom: 1px solid $theme-colour1;
        }

        .detail-row {
            border-bottom: 1px solid #d3d3d3;
            display: none;
        }

        form {
            float: left;
            margin: 4px;
        }

        button {
            font-size: 1em;
            width: 100%;
            padding: 6px;
            background-color: $theme-colour1;
            border-radius: 4px;
            color: white;
            border: none;
            &:hover {
                cursor: pointer;
                background-color: $theme-colour2;
            }
        }
    }
    #date-column {
        width: 140px;
    }
    #race-column {
        width: 360px;
    }
    #location-column {
        width: 150px;
    }
    #distance-column {
        width: 120px;
    }
    #button-column {
        background-color: #ffffff;
    }
}

#going-page {
    margin-left: 40px;
    margin-right: 40px;

    .going-race {
        font-size: 1.2em;
        border: 1px solid $theme-colour1;
        padding: 10px;
        margin-bottom: 10px;
        overflow: hidden;

        .going-race-details {
            float: left;

            .going-date {
                display: inline;
                position: relative;
                left: 0;
                top: 0;
                padding: 10px;
                border-bottom: 2px solid $theme-colour1;
            }

            table {
                margin-top: 10px;
                padding: 10px;
            }
            td {
                padding: 4px;
            }
            button {
                font-size: 1em;
                width: 100%;
                padding: 6px;
                background-color: $theme-colour1;
                border-radius: 4px;
                color: white;
                border: none;
                &:hover {
                    cursor: pointer;
                    background-color: $theme-colour2;
                }
            }
            form {
                float: left;
                margin: 4px;
            }
        }
        .going-race-targets {
            float: left;
            margin-left: 40px;
            margin-top: 46px;

            form {
                input[type="text"] {
                    display:block;
                    outline: none;
                    padding: 10px;
                    margin-right: 10px;
                    border: solid 1px #c9c9c9;
                    border-radius: 4px;
                    width: 50px;
                    transition: border 0.3s;

                    &:focus, &.focus {
                        border: solid 1px $theme-colour1;
                    }
                }
                .target-input {
                    float: left; 
                }
                .target-time {
                    margin-top: 40px;
                }
                .checkbox {
                    margin-bottom: 20px;
                    label {
                        display: inline-block;
                        cursor: pointer;
                        position: relative;
                        padding-left: 25px;
                        margin-right: 15px;

                        &:before {
                            content: "";
                            display: inline-block;
                            border-radius: 3px;
                         
                            width: 16px;
                            height: 16px;
                         
                            margin-right: 10px;
                            position: absolute;
                            left: 0;
                            bottom: 1px;
                            background-color: $theme-colour2;
                        }
                    }
                    input[type="checkbox"] {
                        display: none;
                    }
                    input[type=checkbox]:checked + label:before {
                        content: "\2713";
                        text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
                        font-size: 15px;
                        color: #f3f3f3;
                        text-align: center;
                        line-height: 15px;
                    }
                }
                button {
                    position: relative;
                    top: 20px;
                    width: 60px;
                    padding: 6px;
                    background-color: $theme-colour1;
                    border-radius: 4px;
                    color: white;
                    border: none;
                    &:hover {
                        cursor: pointer;
                        background-color: $theme-colour2;
                    }
                }
            }
        }
    }
}

